---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/Header';
import { Hero } from '../components/Hero';
import { Services } from '../components/Services';
import { Process } from '../components/Process';
import { About } from '../components/About';
import { CTA } from '../components/CTA';
import { Contact } from '../components/Contact';
import Footer from '../components/Footer.astro';
import '../styles/globals.css';
---

<Layout>
  <Header client:load />
  <main>
    <Hero client:visible />
    <Services client:visible />
    <Process client:visible />
    <About client:visible />
    <CTA client:visible />
    <Contact client:visible />
  </main>
  <Footer />
</Layout>
